/* @font-face {
    font-family: 'Cairo';
    /* src: local('Cairo'), url(../../assets/fonts/Cairo-Regular) format('ttf'); */
    /* } */
    
    
    
    .historyCardContainer{
    width:900px;
    height:120px;  
    background-color: white;
    border-radius: 15px;
    border: 0.5px solid #bcbcbc;
    display: flex;
    flex-direction: row;    
}

.historyUserInfoContainer{
    display: flex;
    flex-direction: row;
}

.historyUserImage{
    width:70px;
    height:70px;
    border-radius: 35px;
    margin-left:15px;
    margin-top: 25px;
}
.historyUserInfo{
    height: 67px;
    width:247px;
    margin-left: 15px;
    margin-top: 30px;


}

.historyUserName{
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    margin-bottom:5px ;
    display: flex;
    align-items: center;
    color: black;

}

.historyPostInfo{
    width: 280px;
    height: 77px;
    margin-left: 30px;
    margin-top: 30px;
}

.historyPostDate{
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
   line-height: 5px;
    display: flex;
    align-items: center;
    
    color: #636262;
    
}
.historyPostDetails{
    font-family: Cairo;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;

}

.historyViewButton{
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid #636262;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    color:black;
}
.viewMore{
    font-family: Cairo-simebold;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.historyViewButtonActive{
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    
    transition: all 1s;
    background: #247189;
    border: 1px solid #636262;
    color:white;
}
.historyDeleteIcon{
    margin-left: 30px;
    margin-top: 40px;
    /* align-items: center; */
    /* width: 75px; */
    height: 100%;
}
a {
    text-decoration: none; /* no underline */
  }

a.nostyle:link {
    text-decoration: none;
    color: inherit;
    cursor: auto;

}

a.nostyle:visited {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

.add_button{
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 6vh;
    right: 6vw;
    cursor: pointer;
}
.popup{
    position: absolute;
    right: 25%;
    left: 30%;
    top: 0%;
    animation-name: popupAnimation;
    animation-duration: 2s;  
}

@keyframes popupAnimation {
    from {top: -150vh; opacity: 1}
    to {top: 0; opacity: 1}
  }
