@font-face {
    font-family: 'Cairo';
    src: local('Cairo'), url(../../assets/fonts/Cairo-Regular.ttf) format('woff');
    
  }
  @font-face {
    font-family: 'Cairo-simebold';
    src: local('Cairo-simebold'), url(../../assets/fonts/Cairo-SemiBold.ttf) format('woff');
    
  }
  @font-face {
    font-family: 'Cairo-bold';
    src: local('Cairo-bold'), url(../../assets/fonts/Cairo-Bold.ttf) format('woff');
    
  }
 

.postCardContainer{
    width: 65.88579795021963vw;
    height: 87.6vh;
    height: fit-content;  
    background: #FFFFFF;
    border: 0.5px solid #bcbcbc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.4vh;
    margin-top: 0.8vh;
    overflow: hidden;
    padding-bottom: 1vh;

}


a{
    cursor: pointer;
}

.postCardRate{
    position: absolute;
    right: 1.4641288433382138vw;
    top:3.2vh;
    width: 5.856515373352855vw;
    height: 5.9472vh;
    background: #00CF3A;
    border-radius: 0.8vh;
    font-family: Cairo;
    line-height: 5.6vh;
    font-size: 2.049780380673499vw;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

.postImageContainer{
    width: 65.88579795021963vw;
    height: 65vh;
    position: relative; 
     transition: all 0.5s;

} 
.postFullDescripstion{
    transition: all 0.5s;
    width: 63.6896046852123vw;
    height: 14.72vh;
    margin-top: 2.4vh;
    margin-left: 1.0980966325036603vw;
    margin-right: 1.0980966325036603vw;
    font-family: Cairo;
    line-height: 2vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3177159590043923vw;
    align-content: flex-end;
    text-align: left;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}
.postFullDescripstion::-webkit-scrollbar{
    width: 7px;               /* width of vertical scrollbar */
    border-radius: 10px;
}
.postFullDescripstion::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

.postFullDescripstion::-webkit-scrollbar-thumb {
    background: #247189; 
    border-radius: 10px;
  }

.postLikesContainer{
    width: 12.51683748169839vw;
    justify-content: space-between;
    display: flex;
    height: fit-content;
    margin-left: 2.1961932650073206vw;
    padding-bottom: .8vh;

}
.postLikesNumber{
    flex-direction: row;
    font-family: Cairo-simebold;
    font-style: normal;
    /* font-weight: 600; */
    font-size: 1.3177159590043923vw;
    align-items: center;
    margin: 0;
    padding: 0;

    margin-left: 0.36603221083455345vw;
}


.postlike{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width:100%;
    height: 100%;
}
/* .postDislike{
    display: flex;
    flex-direction: row;
} */