.sidebar{
    background-color: #FFFFFF;
    height: 100%;
    width: 20%;
    max-width: 240px;
    box-shadow: 1.5px 0px rgb(240, 240, 240);
    position: fixed;
    text-align: left;
}

.logo{
    position: absolute;
    width: 148px;
    height: 54px;
    vertical-align: top;
    text-align: left;
    /*background: -webkit-linear-gradient( #247189, #FFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;*/
    margin-top: 15px;
    margin-left: 20px;
    
}
.sidebar_items{
    margin-top: 100px;
    padding: 0px;
    list-style-type: none;
}

.sidebar_item a :hover{
    background-color: rgb(235, 235, 235);
}
.sidebar_item_text{
    font-family: 'Cairo';
    font-style: normal;
    font-size: 24px;
    line-height: 1 px;
    display: inline-block;
    color: #C8C8C8;
    margin-left: 10px;
}
.container_iconname{
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;

}
.log_out{
    margin-left: 44px;
    position: absolute;
    bottom: 36px;
}
@font-face {
    font-family: 'Cairo';
    src: local('Cairo'), url(../../assets/fonts/Cairo-SemiBold.ttf) format('truetype');
  }


  a{
      cursor: pointer;
  }